
* {
    box-sizing: border-box;
}
header{
    position: relative;
}
body {
    margin: 0;
    background: #1e2530;
    color: #f1f5f9;
    font-size: 1.5rem;
    height: 100%;
}
@media (min-width: 1040px) {    
    .container {
    max-width: 1130px;
    padding-left: 40px;
    padding-right: 40px;
    } 
}
.container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.content {
    display: inline-grid;
    grid-template-rows: min-content min-content auto;
    padding: 25px;
}

.description {
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0;
    max-width: 900px;
    padding: 15px 0;
    transition: .2s;
}



.side-content {
    margin-top: 0px;
}

.info {
    background: #3a4250;
    border-radius: 4px;
    padding: 7px;
}

.manga-content {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 280px auto;
    margin-top: 30px;
    position: relative;
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
}

.warped{
    display: none;
}

@media (max-width: 760px){

.description {
    display: none;
}

.warped{
    display: block;
}
.manga-content {
    display: block;
}
    
.info{
    display: flex;
    margin-bottom: 25px;
    overflow-x: auto;
    white-space: nowrap;
 }
 .data-set {
    padding-bottom: 0;
    padding-right: 25px;
}   

}



.data-set {
    padding-bottom: 13px;
}

.value {
    font-size: 0.9rem;
    line-height: 1.1;
}

.type {
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 5px;
}

.cover {
    background-color: white;
    border-radius: 3px;
    margin-top: 15px;
    width: 100%;
}

.tags {
    margin-top: 22px;
}

.tag {
    background: #3a4250;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 3px;
    display: flex;
    font-size: 1.4rem;
    padding: 7px 10px;
    position: relative;
}

